---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { HorizontalList, VerticalList } from '@/components/list';
import Basics from '@/pdf/components/basics.astro';
import Education from '@/pdf/components/education.astro';
import Footer from '@/pdf/components/footer.astro';
import Layout from '@/pdf/components/layout.astro';
import Project from '@/pdf/components/project.astro';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/pdf/components/section';
import { Skill } from '@/pdf/components/skills';
import { initializePdfContext } from '@/pdf/utils/initialize-pdf-context';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';

await initializePdfContext(Astro, {
  locale: enUS,
  translations: getEntry('translations', 'en'),
  dateFormat: 'MMMM yyyy',
  website: '/',
});
---

<Layout class="gap-6">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
  </Fragment>
  <Basics entry={getEntry('basics', 'main-pdf')} />
  <Section class="gap-4">
    <SectionTitle>Skills</SectionTitle>
    <VerticalList class="gap-4">
      <Subsection class="gap-2">
        <SubsectionTitle>Technologies</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill withLevel entry={getEntry('skills', 'tailwind')} />
          <Skill withLevel entry={getEntry('skills', 'shadcn')} />
          <Skill withLevel entry={getEntry('skills', 'typescript')} />
          <Skill withLevel entry={getEntry('skills', 'react')} />
          <Skill withLevel entry={getEntry('skills', 'next')} />
          <Skill withLevel entry={getEntry('skills', 'astro')} />
          <Skill withLevel entry={getEntry('skills', 'eslint')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Tools</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'vercel')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>Projects</SectionTitle>
    <VerticalList class="gap-6">
      <Project entry={getEntry('projects', 'meditrakk')} />
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-6">
      <Education entry={getEntry('education', 'bachelor')} />
    </VerticalList>
  </Section>
  <Footer>
    I hereby give consent for my personal data included in my application to be processed for the purposes of the
    recruitment process.
  </Footer>
</Layout>
